.lake {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: #000;
}

.lac {
    display: block;
    max-width: 100%;
    transition: opacity .2s ease-in-out;
}

.lake:after,
.lake:before {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 20px;
    color: #fff;
    transition: transform .4s ease-out;
}

.lake:before {
    content: attr(data-description) "…";
    top: 80%;
    height: 20%;
    background: #8b00ff;
    font-size: 1.1rem;
    transform: translateY(100%) scale(.8);
}

.lake:hover:after,
.lake:hover:before {
    transform: translateY(0%) scale(1);
}